<launch>
   <node name="ExecuteGrasp" pkg="wpi_jaco/wpi_jaco_msg/action" type="action" output="screen">
   <env name="closeGripper" type="bool" value="False" />
   <env name="limitFingerVelocity" type"bool" value"False" /> <!-- may want to change this in the future>
   <env name="fingerJoints" type"float32[]" value"[]" /> <!-- This will need to be measured/found>
  </node>
</launch>
